@use '../../styles/vars';

.project {
	flex-grow: 1;
	&__back {
		display: inline-block;
		margin: 0.5em;
		color: vars.$gray;
		text-decoration: none;
		&:hover {
			color: vars.$green;
		}
	}

	&__columns {
		display: flex;
		justify-content: space-between;
		padding: 1em 0;
		overflow-x: auto;
		&::-webkit-scrollbar {
			height: 0.6em;
		}
		&::-webkit-scrollbar-track {
			background-color: vars.$dark;
			border: 1px solid vars.$gray;
		}
		&::-webkit-scrollbar-thumb {
			background-color: vars.$gray;
			opacity: 0.5;
		}
	}

	&__column {
		list-style: none;
		width: 100%;
		margin: 0 1em 0 0;

		&:last-child {
			margin-right: 0;
		}
	}
}