@use '../../styles/vars';

.column {
	border: 1px solid vars.$gray;
	padding: 1em;
	&__name {
		font-size: 1.4em;
		text-transform: capitalize;
		flex-grow: 1;
		color: vars.$yellow;
	}
	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0 0 1em 0;
	}

	&__list {
		display: flex;
		flex-direction: column;
	}
}