@use '../../styles/vars';

.subtask {
	list-style: none;
	display: flex;
	align-items: center;
	margin: 0 0 0.5em 0;
	&__checkbox {
		accent-color: vars.$darkGreen;
		width: 1.3em;
		height: 1.3em;
		margin: 0 0.6em 0 0;
	}

	&__text {
		&_done {
			text-decoration: line-through;
		}
	}
}