$mediumScreen: 992px;
$smallScreen: 576px;
$white: #FFFFFF;
$black: #000000;

$dark: #37323E;
$gray: #6D6A75;
$light: #BFBDC1;

$green: #1BC89E;
$darkGreen: #14a27f;
$red: #E07A5F;
// $yellow: #DEB841;
// $orange: #fea008;
