@use '../../styles/vars';

.task {
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1em;
	margin: 0 0 1em 0;
	border: 1px solid vars.$gray;
	cursor: grab;

	&_highlight {
		border-top-color: vars.$darkGreen;
		box-shadow: 0 -3px 0 0px vars.$darkGreen;
	}

	&_invisible {
		opacity: 0;
	}

	&__title {
		flex-grow: 1;
	}
	&__deadline {
		margin: 0 1em 0 0;
	}

	&_done {
		opacity: 0.6;
		.task__title {
			text-decoration: line-through;
		}
	}

	&_late {
		color: vars.$red;
	}

	&__file {
		color: vars.$gray;
		text-decoration: none;
	}

	.close-btn {
		font-size: 0.8em;
	}
}