@use '../../styles/vars';

.overlay {
	position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  background-color:  rgba(190, 190, 190, 0.441);
}

.popup-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.popup {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  
	background-color: vars.$dark;
  box-shadow: 0 0 5px rgba(58, 58, 58, 0.616);
	animation: 0.2s ease-out 0s 1 slideInFromBottom;
    @keyframes slideInFromBottom {
      0% {
        transform: translateY(100%);
        opacity: 0;
      }
      100% {
        transform: translateY(0);
        opacity: 1;
      }
    }

	&__header {
    display: flex;
    justify-content: space-between;
    padding: 0.5em 1em;
		font-weight: 700;
    background-color: vars.$orange;
    color: vars.$dark;
	}

	&__body {
    padding: 1em 2em;
    overflow-y: auto;
    height: 100%;

    &::-webkit-scrollbar {
      height: 0.6em;
    }
    &::-webkit-scrollbar-track {
      background-color: vars.$dark;
      border: 1px solid vars.$dark;
      border-left-color: vars.$gray;
    }
    &::-webkit-scrollbar-thumb {
      background-color: vars.$yellow;
      opacity: 0.5;
    }
	}
}