@use '../../styles/vars';

.form {
	&__fieldset {
		display: flex;
		justify-content: space-between;
	}

	&__col {
		display: flex;
		flex-direction: column;
		
		width: 100%;
		&:first-child {
			margin: 0 2em 0 0;
		}
	}

	.label {
		display: inline-block;
		display: block;
		margin: 0 0 0.5em 0;

		&__text {
			display: block;
			font-size: 16px;
			margin: 0 0 5px 0;
			color: vars.$orange;
		}

		.field {
			display: block;
	
			&[type=checkbox] {
				display: inline-block;
				width: 1em;
				height: 1em;
			}
		}

		&.done {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			input {
				margin: auto 0;
			}
		}
	}
	
	.upload {
		display: flex;
		justify-content: center;
		align-items: center;
		border: 1px solid vars.$yellow;
		font-size: 16px;
		font-weight: 400;
		
		input {
			display: none;
		}
	}

	.submit {
		margin: 0 auto;
	}

	.duration {
		color: vars.$white;
		margin: 0 0 0 1em;
	}

	& &__subtasks {
		margin: 1em 0 0 0;
	}
}