@use '../../styles/vars';

.footer {
	border-top: 1px solid vars.$gray;
	width: 100%;
	height: 40px;
	padding: 0.3em 0;
	color: vars.$gray;
	.container {
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
	
	.gh {
		display: flex;
		align-items: center;
		text-decoration: none;
		color: black;
		filter: invert(43%) sepia(12%) saturate(268%) hue-rotate(215deg) brightness(95%) contrast(92%);
		&:hover {
			filter: vars.$filterGreen;
		}
		&:active {
			filter: vars.$filterDarkGreen;
		}
		&__icon {
			display: block;
	
			margin: 0 0.5em 0 0;
		}
		&__text {
			display: block;
		}
	}
}

